IDInspector.plugin.js linguist-language=C# -linguist-generated
javayourmom.js linguist-language=JavaScript -linguist-generated
#this is just so that github shows the language, not related or important at all
